.dashboard__diet-plan_first-column{
  width: 85px;
}

.dashboard__dietColumn{
  -webkit-box-shadow: -2px 0 0 rgba(0, 0, 0, 0.062);
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.062);
  width: 126px;
}

.dashboard__dietColumn-active{
  box-shadow: 0 0 0 2px #ff801a;
  z-index: 10;
  font-weight: bold;
  color: #000
}

.dashboard__dietColumn .column__day,
.dashboard__dietColumn .column__item,
.column__item-free_day{
  background-color: #fff;;
}

.column__day{
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  text-transform: uppercase;
  color: #adbb0c;
  font-weight: bold;
  text-align: center;
}

.column__item{
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  height: 92px;
  width: 124px;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 19px 0 11px;
  cursor: pointer;
}

.column__item p{
  margin-bottom: 2px;
}

.column__item-shake-img{
  position: absolute;
  bottom: 2px;
  left: 20px;
}

.column__item-checkout-ico{
  position: absolute;
  top: 6px;
  right: 6px
}

.column__item-free_day{
  width: 125px;
  height: 460px;
  position: relative;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  position: relative;
}

.column__item-free_day p{
  transform: rotate(-90deg);
  width: 283px;
  font-size: 36px;
  font-weight: 300;
  color: #c2c2c2;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  right: -75px;
}

.column__item-free_day img{
  position: absolute;
  bottom: 68px;
  right: 48px;
}

.plan__item-print{
  width: 125px;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

@media all and (max-width: 991px){
  .dashboard__dietColumn,
  .dashboard__dietColumn div{
    width: 100%;
  }
  .column__item-free_day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column__item-free_day p{
    position: unset;
    transform: none;
    width: unset;
    text-align: center;
  }
  .column__item-free_day img {
    position: unset;
    margin-top: 30px;
  }
}