.dashboard__diet-plan_first-column{
  width: 85px;
}

.dashboard__dietColumn{
  -webkit-box-shadow: -2px 0 0 rgba(0, 0, 0, 0.062);
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.062);
}

.dashboard__dietColumn-active{
  -webkit-box-shadow: 0 0 0 2px #ff801a;
  box-shadow: 0 0 0 2px #ff801a;
  z-index: 10;
  font-weight: bold;
}

.column__day{
  height: 50px;
  font-size: 24px;
  line-height: 46px;
  text-transform: uppercase;
  color: #adbb0c;
  font-weight: bold;
  text-align: center;
}

.dashboard__dietColumn-active .column__day{
  color: #ff801a;
}

.dashboard__dietColumn-active .column__item p{
  color: #000;
}

.column__item{
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 92px;
  width: 128px;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px 19px 0 9px;
  cursor: pointer;
}

.column__item p{
  margin-bottom: 2px;
}

.column__item img{
  display: block;
  margin: 0 auto;
}

.column__item-free_day{
  width: 125px;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.062);
  position: relative;
}

.column__item-free_day p{
  transform: rotate(-90deg);
  width: 283px;
  font-size: 36px;
  font-weight: 300;
  color: #c2c2c2;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  right: -80px;
}

.column__item-free_day img{
  position: absolute;
  bottom: 68px;
  right: 48px;
}