.nav__container {
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
}

nav {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -ms-flex-pack: center;
  max-width: 978px;
  margin: 0 auto;
}

nav div:first-of-type {
  display: none;
}

nav li {
  list-style-type: none;
}

.nav__link--active {
  color: #ff801a;
  position: relative;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 24px;
  background-color: #ffc79a;
  right: calc(50% - 12.5px);
}

.nav__links {
  display: flex;
  display: -ms-flexbox;
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 118px;
}

.nav__links::before {
  content: "";
  width: 1px;
  background-color: #e1e1e1;
  height: 100%;
  position: absolute;
  left: -18px;
  top: 0;
}

.nav__links li {
  text-transform: uppercase;
  margin-left: 18px;
  list-style-type: none;
  text-decoration: none;
}

.nav__links li a {
  font-size: 14px;
  line-height: 79px;
  font-weight: 600;
}

/* ________________ EXTERNAL CODE __________________ */
/* hamburger menu css */
/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ff801a;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  flex-direction: column;
  justify-content: flex-start;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ^^^^^^^^^^^^^^ EXTERNAL CODE ^^^^^^^^^^^^^^^^^^ */

@media all and (max-width: 991px) {
  nav {
    margin: 0 40px;
  }
  .nav__links {
    margin-left: unset;
  }
}

@media all and (max-width: 550px) {
  nav {
    margin: 0 20px 0 0;
  }
  .nav__links::before {
    content: none;
  }
  .nav__links {
    display: none;
  }
  .nav__user-right span {
    display: none;
  }
  .nav__user-right img {
    padding-right: 15px;
  }
  .bm-burger-button,
  .bm-overlay,
  .bm-menu-wrap {
    display: block;
  }
  .bm-item-list {
    height: 90% !important;
  }
  .bm-item-list li a {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .bm-item-list li {
    margin-bottom: 30px;
  }
  .nav__link--active::after {
    top: 36px;
  }
  nav div:first-of-type {
    display: block;
  }
}
