.dashboardTop{
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.dashboardTop__text-info{
  color: #828282;
  font-size: 9px;
  line-height: 9px;
  margin-top: 0;
  margin-bottom: 13px;
}