body{
  color: #828282;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
}

a{
  text-decoration: none;
  color: #828282;
}

p{
  margin: 0;
}

.app__main__content-wrapper{
  max-width: 978px;
  margin: 0 auto
}

button:focus{
  outline: 0;
}

button{
  padding: 0;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  border-radius: 4px;
  transition: .6s;
  cursor: pointer;
}

.dashboard__day-select__button:hover,
footer button:hover{
  border-color: #ff801a;
  box-shadow: 0 0 5px 0 #ff801a;
}

.text-bold{
  font-weight: bold;
}

.p-13{
  padding: 13px;
}

.color-a2a2a2{
  color: #a2a2a2;
}

@media all and (max-width: 991px){
  .app__main__content-wrapper{
    padding: 0 5px;
  }
}

