body {
  color: #828282;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #828282;
}

p {
  margin: 0;
}

.app__main__content-wrapper {
  max-width: 978px;
  margin: 0 auto;
}

button:focus {
  outline: 0;
}

button {
  padding: 0;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #828282;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.6s;
  cursor: pointer;
}

.dashboard__day-select__button:hover,
footer button:hover {
  border-color: #ff801a;
  box-shadow: 0 0 5px 0 #ff801a;
  -webkit-box-shadow: 0 0 5px 0 #ff801a;
}

.text-bold {
  font-weight: bold;
}

.p-13 {
  padding: 13px;
}

.color-a2a2a2 {
  color: #a2a2a2;
}

.no-box-shadow {
  box-shadow: none !important;
}

.no-border-right {
  border-right: none !important;
}

@media all and (max-width: 991px) {
  .app__main__content-wrapper {
    padding: 0 5px;
  }
}

@media print {
  body {
    width: 100%;
    max-height: 20cm;
  }
  .column__item-shake-img {
    max-width: 50px;
  }
  .dashboardTop__text-info,
  .ProgressDots__items,
  .nav__container {
    display: none;
  }
  footer {
    display: none !important;
  }
  .column__item {
    font-size: 10px !important;
    line-height: 12px !important;
    color: #000;
  }
  .column__day p {
    font-size: 16px;
  }
  .column__item-free_day p {
    font-size: 16px !important;
  }
}
